<!DOCTYPE HTML>
<html lang="en">


<%- include('partials/head') %>


  <body>
    <div class="animsition">
      <div class="wrapper boxed">

        <!-- Content CLick Capture-->
        <div class="click-capture"></div>

        <!-- Sidebar Menu-->
        <%- include('partials/side-navbar') %>

          <!-- Navbar -->
          <%- include('partials/header') %>

            <!-- Jumbotron -->
            <main class="jumbotron">

              <!-- Start revolution slider -->
              <%- include('components/slider') %>
            </main>

            <div class="content">

              <!-- Section About -->
              <%- include('components/short-about') %>


                <!-- Section Projects -->
                <section class="section-projects section">
                  <%- include('components/short-services') %>
                </section>


            </div>

            <!-- Footer -->

            <%- include('partials/footer.ejs') -%>

              <%- include('partials/scripts.ejs') -%>
      </div>
    </div>
  </body>


</html>