<!DOCTYPE HTML>
<html lang="en">


<%- include('partials/head') %>


<body>
<div class="animsition">
  <div class="wrapper boxed">

    <!-- Content CLick Capture-->
   <div class="click-capture"></div>
 
    <!-- Sidebar Menu-->
   <%- include('partials/side-navbar') %>
    
    <!-- Navbar -->
   <%- include('partials/header') %>
    
    <!-- Jumbotron -->
    <main class="jumbotron">

      <!-- Start revolution slider -->
      <%- include('components/slider') %>
    </main>

    <div class="content">   

      <!-- Section About -->
      <%- include('components/short-about') %>
      

      <!-- Section Projects -->
      <section class="section-projects section">
        <%- include('components/short-services') %>
      </section>

      <!-- Section Clients -->
      <section class="section-clients section bg-dots">
        <div class="container">
          <h2 class="section-title">From Great Our Clients</h2>
          <div class="client-carousel owl-carousel">
            <div class="client-carousel-item">
              <img alt="" class="client-img" src="images/clients/1-92x92.jpg">
              <div class="client-box">
                <img alt="" class="image-quote" src="images/image-icons/icon-quote.png">
                <div class="client-title">
                  <span class="client-name">Adam Stone</span> 
                  <span class="client-company">/ CEO at Google INC</span>
                </div>
                <p class="client-description">Sed elit quam, iaculis sed semper sit amet udin vitae nibh. at magna akal semperFusce commodo molestie luctus.Lorem ipsum Dolor tusima olatiup.</p>
              </div>
            </div>
            <div class="client-carousel-item">
              <img alt="" class="client-img" src="images/clients/2-92x92.jpg">
              <div class="client-box">
                <img alt="" class="image-quote" src="images/image-icons/icon-quote.png">
                <div class="client-title">
                  <span class="client-name">Anabella Kleva </span> 
                  <span class="client-company">/ Managerment at Envato</span>
                </div>
                <p class="client-description">Sed elit quam, iaculis sed semper sit amet udin vitae nibh. at magna akal semperFusce commodo molestie luctus.Lorem ipsum Dolor tusima olatiup.</p>
              </div>
            </div>
            <div class="client-carousel-item">
              <img alt="" class="client-img" src="images/clients/1-92x92.jpg">
              <div class="client-box">
                <img alt="" class="image-quote" src="images/image-icons/icon-quote.png">
                <div class="client-title">
                  <span class="client-name">Adam Stone</span> 
                  <span class="client-company">/ CEO at Google INC</span>
                </div>
                <p class="client-description">Sed elit quam, iaculis sed semper sit amet udin vitae nibh. at magna akal semperFusce commodo molestie luctus.Lorem ipsum Dolor tusima olatiup. Sed elit quam, iaculis sed semper sit amet udin vitae nibh</p>
              </div>
            </div>
            <div class="client-carousel-item">
              <img alt="" class="client-img" src="images/clients/2-92x92.jpg">
              <div class="client-box">
                <img alt="" class="image-quote" src="images/image-icons/icon-quote.png">
                <div class="client-title">
                  <span class="client-name">Adam Stone</span> 
                  <span class="client-company">/ CEO at Google INC</span>
                </div>
                <p class="client-description">Sed elit quam, iaculis sed semper sit amet udin vitae nibh. at magna akal semperFusce commodo molestie luctus.Lorem ipsum Dolor tusima olatiup.</p>
              </div>
            </div>
          </div>
          <div class="partner-carousel owl-carousel">
            <div class="partner-carousel-item">
              <img alt="" src="images/partners/1.png">
            </div>
            <div class="partner-carousel-item">
              <img alt="" src="images/partners/2.png">
            </div>
            <div class="partner-carousel-item">
              <img alt="" src="images/partners/3.png">
            </div>
            <div class="partner-carousel-item">
              <img alt="" src="images/partners/4.png">
            </div>
            <div class="partner-carousel-item">
              <img alt="" src="images/partners/5.png">
            </div>
          </div>
        </div>
      </section>

      <!-- Section News -->

      <section class="section-news section">
        <div class="container">
          <h2 class="section-title">Latest News <a href="#" class="link-arrow-2 pull-right">All Articles <i class="icon ion-ios-arrow-right"></i></a></h2>
          <div class="news-carousel owl-carousel">
            <div class="news-item">
              <img alt="" src="images/news/1-370x370.jpg">
              <div class="news-hover">
                <div class="hover-border"><div></div></div>
                <div class="content">
                  <div class="time">Dec 15th, 2016</div>
                  <h3 class="news-title">Discover Architecture Of Bario</h3>
                  <p class="news-description">Lorem ipsum dolor sit amet, consect etur adipiscing elit. Mauris vel auctorol est. Integer nunc ipsum...</p>
                </div>
                <a class="read-more" href="#">Continue</a>
              </div>
            </div>
            <div class="news-item">
              <img alt="" src="images/news/2-370x370.jpg">
              <div class="news-hover">
                <div class="hover-border"><div></div></div>
                <div class="content">
                  <div class="time">Dec 15th, 2016</div>
                  <h3 class="news-title">Discover Architecture Of Bario</h3>
                  <p class="news-description">Lorem ipsum dolor sit amet, consect etur adipiscing elit. Mauris vel auctorol est. Integer nunc ipsum...</p>
                </div>
                <a class="read-more" href="#">Continue</a>
              </div>
            </div>
            <div class="news-item">
              <img alt="" src="images/news/3-370x370.jpg">
              <div class="news-hover">
                <div class="hover-border"><div></div></div>
                <div class="content">
                  <div class="time">Dec 15th, 2016</div>
                  <h3 class="news-title">Discover Architecture Of Bario</h3>
                  <p class="news-description">Lorem ipsum dolor sit amet, consect etur adipiscing elit. Mauris vel auctorol est. Integer nunc ipsum...</p>
                </div>
                <a class="read-more" href="#">Continue</a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- Footer -->

 <%- include('partials/footer.ejs') -%> 

 <%- include('partials/scripts.ejs') -%> 
</body>

<!-- Mirrored from gasinforest.com/html/bauhaus/demo/light/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 29 Mar 2025 13:54:12 GMT -->
</html>