<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/head') %>

    <body>
        <div class="wrapper">
            <%- include('../../partials/side-navbar') %>
                <%- include('../../partials/header') %>
                    <div class="row justify-content-center">
                        <div class="col-xl-8">
                            <div class="card mx-auto" style="width: 100%; max-width: 900px;">

                                <div class="card-header border-bottom border-dashed d-flex align-items-center">
                                    <h4 class="header-title">Striped Rows</h4>
                                </div>
                                <div class="card-body">
                                    <div class="d-flex justify-content-center">
                                        <div class="table-responsive-sm" style="width: fit-content;">
                                            <table class="table table-striped mb-0">
                                                <thead>
                                                    <tr>
                                                        <th>სერვისი</th>
                                                        <th>ტიპი</th>
                                                        <th>თარიღი</th>
                                                        <th>მოქმედება</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% services.forEach(service=> { %>
                                                        <tr>
                                                            <td>
                                                                <img src="<%= service.img_url %>"
                                                                    class="me-2 avatar-sm rounded-circle" />
                                                                <%= service.service_name %>
                                                            </td>
                                                            <td>
                                                                <%= service.service_type_name %>
                                                            </td>
                                                            <td>
                                                                <%= service.created_date.toISOString().split('T')[0] %>
                                                            </td>
                                                            <td>
                                                                <a href="edit-services/<%= service.id %>"><i
                                                                        class="ti ti-pencil"></i></a>
                                                                <a href="delete-services/<%= service.id %>"><i
                                                                        class="ti ti-trash"></i></a>
                                                            </td>
                                                        </tr>
                                                        <% }) %>
                                                </tbody>
                                                <a href="add-services" class="btn btn-primary"><i
                                                        class="ti ti-plus me-1"></i>სერვისის დამატება</a>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div> <!-- end card -->
                        </div><!-- end col-->


                    </div>
                    <!-- end row-->
        </div>
        <%- include('../../partials/footer') %>

    </body>

</html>