<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/head') %>

  <body>


    <!-- Sidebar Menu-->
    <%- include('../../partials/side-navbar') %>

      <!-- Navbar -->
      <%- include('../../partials/header') %>


        <!-- <p>hello world</p>
  <p>Service count: <%= services.length %></p>
  <pre><%= JSON.stringify(services, null, 2) %></pre> -->
        <div class="content">
          <div class="projects">
            <div class="container">
              <br>
              <br>
              <br> 
              <br>
              <div class="grid-items js-isotope js-grid-items">
                <% services.forEach(service=> { %>
                  <div class="grid-item inspiration js-isotope-item js-grid-item">
                    <div class="news-item">
                      <!-- Optional: Use a placeholder image or skip img_url since it's null -->
                      <img alt="" src="<%= service.img_url %>">
                      <div class="news-hover">
                        <div class="hover-border">
                          <div></div>
                        </div>
                        <div class="content">
                          <div class="time">
                            <%= new Date(service.created_date).toLocaleDateString() %>
                          </div>
                          <h3 class="news-title">
                            <%= service.name %>
                          </h3>
                          <p class="news-description">
                            <%- service.content %>
                          </p>
                        </div>
                        <a class="read-more" href="/service/details/<%= service.id %>">გაიგეთ მეტი</a>
                      </div>
                    </div>
                  </div>
                  <% }) %>
              </div>

            </div>
          </div>
        </div>


        <%- include('../../partials/scripts') %>

          <%- include('../../partials/footer') %>
  </body>

</html>