<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/head') %>

    <body>


        <!-- Sidebar Menu-->
        <%- include('../../partials/side-navbar') %>

            <!-- Navbar -->
            <%- include('../../partials/header') %>


                <section class="section-about">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <strong class="section-subtitle">სერვისი</strong>
                                <h2 class="section-title section-about-title">
                                    <%= serviceDetails.name %>
                                </h2>
                                <p class="">
                                    <%- serviceDetails.content %>
                                </p>
                                <p></p>

                            </div>
                            <div class="col-md-5 col-md-offset-1">
                                <div class="dots-image">
                                    <img alt="" class="about-img img-responsive" src="<%= serviceDetails.img_url %>">
                                    <div class="dots"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <div class="wrapper boxed">
                    <%- include('../../partials/footer') %>
                        <%- include('../../partials/scripts') %>
                </div>
    </body>

</html>